.heading-primary {
    color: $color-secondary;
    //text-transform: uppercase;

    &--main {
        color: $color-secondary;
        font-size: 6rem;
        font-weight: 600;
        letter-spacing: .8rem;
    }

    &--sub {
        color: $color-secondary;
        font-size: 2.5rem;
        font-weight: 500;
        letter-spacing: .3rem;
    }
}

.content-middle-content {
    //font-size: 7rem;
    //color: darkred;
}

.heading-secondary {
    font-size: 4rem;
    color: $color-primary;
    letter-spacing: .25rem;

    &--line {
        color: $color-teritary;
    }
}

